body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}

span.glyphicon {
	margin-right: 7px;
}
.jumbotron {
	padding: 25px;
	font-size: 1em;
}
.jumbotron h4:nth-of-type(2) {
	margin-top: 25px;
}

blockquote {
	display: inline-block;
	padding-top: 15px;
	overflow: hidden; 
	font-size: 18px;
	line-height: 150%;
	color: #454545;
}
blockquote .bqtext {
	display: inline-block;
	margin: 0 35px 0 35px;
	padding-left: 5px;
}
blockquote .bqtext p:first-of-type { margin-top:-35px;}
blockquote:before {
	display: inline-block;
	float: left;
	margin: 10px 15px 0 0;
	font-size: 100px;
	content: open-quote; 
	color: #bababa;
	text-shadow: 0 1px 1px #909090;
}
blockquote:after {
	display: block;
	float: right;
	margin: 10px 15px 0 0;
	font-size: 100px;
	content: close-quote; 
	color: #bababa;
	text-shadow: 0 1px 1px #909090;
}
.img-thumbnail{
	width:140px;
	height:180px;
}
.medlem{
	list-style-type: none;
	margin-top:10px;
	padding-left:0;
	margin-left:0;
}
.row{
	margin-top:10px;
	margin-bottom:10px;
}
.medlem-head{
	margin-bottom:30px;
}
